venv
.env
.env.dev
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.DS_Store
instance
.pytest_cache
.coverage
htmlcov
.tox
dist
build
*.egg-info
pip-wheel-metadata

*.pem

# Generated proto files
*_pb2.py
*_pb2.pyi
*_pb2_grpc.py