# 필요한 것만 정리
fastapi==0.127.1
uvicorn[standard]==0.28.1
sqlalchemy==2.0.45
asyncpg==0.29.0
loguru==0.7.3
grpcio==1.76.0
prometheus_client==0.23.1
slowapi==0.1.9
# 개발 환경
pytest>=7.0.0  # dev
pytest-asyncio>=0.21.0  # dev